<h1>{{title}}</h1>
<hr>
<input type="text" class="form-control" placeholder="Search products" [(ngModel)]="searchText" (keyup)="filterData()">
Search By : {{searchText}} <br>
<button class="btn btn-primary mr-3" (click)='refreshData()'>Refresh Data</button>
<button class="btn btn-secondary" (click)="toggleImage()">{{showImages ? 'Hide': 'Show'}} Images</button>
<div class="row" *ngIf="products?.length; else noProducts">
    <div class="col-md-3" *ngFor="let product of products;let i= index;trackBy:trackByName">
      <div class="card">
        <img class="card-img-top" *ngIf="showImages" [src]="product.imageUrl" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{i+1}}.{{product.productName}}</h5>
          <p class="card-text">{{product.description | ifNullOrEmptyPipe:'-'}}</p>
          <p class="card-text">Released On : {{product.releaseDate | date : 'dd-MMMM-YY' | ifNullOrEmptyPipe:'-'}}</p>
          <p class="card-text">Price : {{product.price}}</p>
          <p class="card-text" [ngSwitch]='true'[ngStyle]="getProductStyles(product)">Price : {{product.price}}
            <span *ngSwitchCase='product.price >=200'>(Costly)</span>
            <span *ngSwitchCase='product.price <= 100'>(Cheap)</span>
            <span *ngSwitchDefault>(Value4Money)</span>
          </p>
          <button class="btn btn-primary" [disabled]='!product.isActive' (click)="buyProduct(product)">Buy</button>
          <ng-template #discontinuedProduct>
            <p class="text-danger">This is discontinued</p>
          </ng-template>
        </div>
      </div>
  </div>
</div>
<ng-template #noProducts>
    <p class="text-danger">No Products available</p>
  </ng-template>